@import "semantic-ui";

.chatbox{
    height: 450px;
}

#messages{
    height: 10em;
    overflow: auto;
}


.btn-signup{
    color:#fff;
    width: 115px;
}

.btn-login{
    color:#fff;
    width: 105px;
}

.card-content{
    overflow-y: scroll
}

.username{
    color:#F2711C ;
}